/*---------- GENERAL ----------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #545658;
  font: 400 1em/1.5em 'Raleway', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

/*---------- UTILITIES ----------*/
.clear, .profile-card .social {
  *zoom: 1;
}
.clear:before, .profile-card .social:before, .clear:after, .profile-card .social:after {
  content: ' ';
  display: table;
}
.clear:after, .profile-card .social:after {
  clear: both;
}

.list-unstyled, .profile-card .social {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*---------- PROFILE_CARD ----------*/
.profile-card {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0px rgba(25, 25, 25, 0.83), 0 0 30px 0px rgba(49, 49, 49, 0.76), 0 0 80px 0px rgba(64, 64, 64, 0.51);
    box-shadow: 0 0 5px 0px rgba(25, 25, 25, 0.83), 0 0 30px 0px rgba(49, 49, 49, 0.76), 0 0 80px 0px rgba(64, 64, 64, 0.51);
    color: #555;
    left: 0;
    margin: auto;
    margin-bottom: 80px;
    max-width: 32em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 80px;
}
.profile-card a {
  color: #555;
}
.profile-card img {
    max-height: 160px;
    min-height: 90px;
    float: left;
}
.profile-card h1 {
    color: #545658;
    font-size: 1.4em;
    margin: 0;
}
.profile-card h2 {
    font-size: .75em;
    line-height: .1em;
}
.profile-card .btn {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto 2em auto;
  padding: .5em 0;
  text-transform: uppercase;
  width: 90%;
}
.fa-download {
    margin-right: 1em;
    font-size: 1.2em;
}
.profile-card .social {
  border-top: 1px solid #eee;
  font-size: 1.5em;
  text-align: center;
}
.profile-card .social li {
  float: left;
  width: 33.3333333333%;
}
.profile-card .social a {
  display: block;
  padding: 1em 0;
}
.profile-card .social .fa-twitter:hover {
  color: #55acee;
}
.profile-card .social .fa-dribbble:hover {
  color: #ea4c89;
}
.profile-card .social .fa-linkedin:hover {
  color: #0976b4;
}
.header-card {
    display: inline-block;
    padding: 3em;
    width: 100%;
}
.header-title {
    text-align: left;
    margin-top: 78px;
    float: right;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition: 200ms ease-in-out;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.icons-section {
padding: 30px 20px;
background: #fff;
}
.sc,.fb,.space,.linkedin,.tumblr,.delicious,.email,.instagram,.twitter,.flicker,.codepen {
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
/*-----bandcamp-----*/
.bandcamp {
    background: #629aa9;
    border: none;
    outline: none;
    margin: 10px 0 30px 0;
}
.bandcamp:hover {
    background: #66a4b5;
}
.bandcamp lable {
    color: #fff;
    padding: 14px 10px;
    float: left;
    font-size: 1.2em;
    border-left: 1px solid rgb(87, 140, 154);
}
/*-----sc-----*/
.sc {
    background: #ff8800;
    border: none;
    outline: none;
    margin: 10px 0 30px 0;
}
.sc:hover {
    background: #f79628;
}
.sc lable {
    color: #fff;
    padding: 14px 10px;
    float: left;
    font-size: 1.2em;
    border-left: 1px solid rgb(230, 126, 6);
}
/*-----fb-----*/
.fb{
	background: #3c66c4;
	border:none;
	outline:none;
	margin: 10px 0 30px 0;
}
.fb:hover {
background:#315997;
}
.bandcamp a span,.sc a span,.fb a span,.tumblr a span,.email a span,.instagram a span,.twitter a span,.codepen a span {
	height: 45px;
    	width: 45px;
	font-size: 2em;
	padding-top: 7px;
	color: white;
	display: inline-block;
	float: left;
	margin: 3px 0px 0px 2px;
}
.fb lable{
	color: #fff;
        padding: 14px 10px;
        float: left;
        font-size: 1.2em;
        border-left: 1px solid rgba(39, 74, 153, 0.29);
}
.fb:hover{
	background:#335FA4;
}
/*--tumblr------*/
.tumblr{
	background:#9bb8d2;
	margin: 10px 0;
}
.tumblr lable{
	color: #fff;
        padding: 14px 10px;
        float: left;
        font-size: 1.2em;
        border-left: 1px solid rgba(143, 174, 201, 0.74);
}
.tumblr:hover{
	background:#8098ae;
}
/*--instagram-------*/
.instagram lable{
    border-left: 1px solid rgba(155, 38, 23, 0.46);
    color: #fff;
    padding: 14px 10px;
    float: left;
    font-size: 1.2em;
}
.instagram{
	background: #cf4332;
	margin: 30px 0;
}
.instagram:hover{
	background: #bb3828;
}
/*--twitter-----*/
.twitter lable{
	border-left: 1px solid rgba(33, 174, 221, 0.38);
        color: #fff;
        padding: 14px 10px;
        float: left;
        font-size: 1.2em;
}
.twitter{
	background: #33ccff;
	margin: 30px 0;
}
.twitter:hover{
	background: #29A6D0;
}
/*----email-------*/
.email{
	background: #4580a6;
	margin:10px 0 30px 0;
}
.email:hover{
	background:#376A8A;
}
.email lable{
	color: #fff;
        padding: 14px 10px;
        float: left;
        font-size: 1.2em;
        border-left: 1px solid rgba(39, 74, 153, 0.29);
}
/*-----codepen-------*/
.codepen{
	background: #545454;
	margin: 30px 0;
}
.codepen:hover{
	background: #454444;
}
.codepen lable {
    border-left: 1px solid rgba(76, 74, 74, 1);
    color: #fff;
    padding: 14px 10px;
    float: left;
    font-size: 1.2em;
}
/****************/
.copy-right {
	text-align: center;
	margin: 2% 0;
}
.copy-right p {
	color:#000;
	font-size: 1.1em;
	font-weight:400;
}
.copy-right p a {
	font-size: 1em;
	color:#EB6262;
}
.copy-right p a:hover {
	color: #000;
}

