/*---------- GENERAL ----------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #545658;
  font: 400 1em/1.5em 'Raleway', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

/*---------- UTILITIES ----------*/
.clear, .profile-card .social {
  *zoom: 1;
}
.clear:before, .profile-card .social:before, .clear:after, .profile-card .social:after {
  content: ' ';
  display: table;
}
.clear:after, .profile-card .social:after {
  clear: both;
}

.list-unstyled, .profile-card .social {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*---------- PROFILE_CARD ----------*/
.profile-card {
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    color: #555;
    left: 0;
    margin: auto;
    max-width: 32em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 80px;
}
.profile-card a {
  color: #555;
}
.profile-card img {
    max-height: 160px;
    min-height: 90px;
    float: left;
}
.profile-card h1 {
    color: #545658;
    font-size: 1.4em;
    margin: 0;
}
.profile-card h2 {
    font-size: .75em;
    line-height: .1em;
}
.profile-card .btn {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto 2em auto;
  padding: .5em 0;
  text-transform: uppercase;
  width: 90%;
}
.profile-card .social {
  border-top: 1px solid #eee;
  font-size: 1.5em;
  text-align: center;
}
.profile-card .social li {
  float: left;
  width: 33.3333333333%;
}
.profile-card .social a {
  display: block;
  padding: 1em 0;
}
.profile-card .social .fa-twitter:hover {
  color: #55acee;
}
.profile-card .social .fa-dribbble:hover {
  color: #ea4c89;
}
.profile-card .social .fa-linkedin:hover {
  color: #0976b4;
}
.header-card {
    display: inline-block;
    padding: 3em;
    width: 100%;
}
.header-title {
    text-align: left;
    margin-top: 78px;
    float: right;
}
